html{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    background-color: #fff3e0;
    
}

/*--------------------Navigation Bar-----------------*/
.navbar-brand{
    color: rgba(239,139,111,400);
    font-weight: 645;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 310px;
}

.nav-link{
    color: #ef8b6f;
    font-weight: 645;
    margin-top: 20px;
    margin-left: 100px;
}

.btn{
    background-color: #ef8b6f;
    color: white;
    border-color: #ef8b6f;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 115px;
    margin-top: 20px;
    font-weight: 640;
    border-radius: 60px;
}



